html{
    font-family: Arial;
}

div.top-bar{
    background-color: rgb(187, 222, 251);
    margin: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image {
    width: 100px;
    height: 100px;
  }